<!DOCTYPE html>
<html>
<head>
	<title><%= @entry %></title>
	<style>
	li {
		color: red;
		font-weight: bold;
	}
	</style>
</head>
<body>
<div>
	<%= @entry.hours %> hours <br>
	<%= @entry.minutes %> minutes <br>
	<%= @entry.date %> <br>


</div>



</body>
</html>