<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
	body 
	div{
		display: inline-block;
	}
	.offset3{
		margin-left: 30px;
	}
	</style>
</head>
<body>
<h1>FATAL ERROR 404 NOT FOUND. </h1>
<h3>EXPLOSIONS ALERTA COBRA</h3>
<div>
<img src="https://doutorz.files.wordpress.com/2012/04/jesus-esta-triste.gif">

<p>Se quedó solito no más</p>
</div>
<div class="offset3">
<img  src="http://static4.vayagif.com/gifs/2012/12/GIF_144770_cuando_tu_madre_te_da_un_avance_de_lo_que_comereis_por_navidad.gif">

<p>ERROR ERROR ERROR ERROR ERROR</p>
</div>
<div class="offset3">
<img src="http://3.bp.blogspot.com/-AN1mld1t_TQ/U7BrbvV1OgI/AAAAAAAADbM/cVJe4fyvPZk/s1600/barney-dance-o.gif">
<p>Hola guapo. DAME UN BESITO</p>
</div>
</body>
</html>