<!DOCTYPE html>
<html>
<head>
  <title>TimetrackingCopy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header></header>
<%= yield %> <!--sustituye el contenido por otro-->
<footer>Ironhack&copy;&reg; | All rights reserved</footer>
</body>
</html>
