<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
	body{
		background-color: pink;
	}
	header,footer{
		background-color: violet;
	}
	p{
		text-align: center;
	}
	</style>
</head>
<body>

<header><h1>ERROR ERROR ERROR</h1></header>
<%= yield %>
<footer><p>Ironhack&reg;|All rights reserved&copy;</p></footer>
</body>
</html>